.form-login {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 418px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.title-acess-account {
  font-weight: 500;
  font-size: 32px;
  line-height: 38.4px;
  margin-bottom: 55px;
  padding-top: 49px;
  text-align: center;
}

input {
  font-weight: 300;
  width: 335px;
  height: 45px;
  margin-bottom: 24px;
  border-radius: 10px;
  padding: 0 5%;
  border: 2px solid #DBDBDB;
}

a.recover-password {
  font-weight: 400;
  color: #1A877F;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 40px;
  margin-bottom: 24px;
}

a.recover-password:hover {
  text-decoration: underline;
}

.button-login {
  font-weight: 500;
  height: 48px;
  border-radius: 4px;
  padding: 11px 149px;
  color: #FFFFFF;
  background-color: #1A877F;
  border: none;
  margin-bottom: 26px;
}

.button-login:hover {
  background-color: #1a8780c5;
}

p.no-account {
  font-weight: 300;
  font-size:18px;
  color: #5F5F5F;
}

a.sign-up {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #1A877F;
  margin-top: 5px;
  padding-bottom: 56px;
}

a.sign-up:hover {
  text-decoration: underline;
}
