* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  background-image: url(./images/background-login.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.logo-container {
  padding-top: 59px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 212px;
}

.text-content {
  text-align: center;
  width: 500px;
}

.title-text-content {
  color: #FFFFFF;
  width: 499px;
  font-weight: 700;
  font-size: 38px;
}

.paragraph-text-content {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  width: 500px;
  margin-bottom: 50px;
}

.social-networks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  padding: 0 40px;
  padding-bottom: 70px;
}

.logo-social-networks {
  width: 53px;
  height: 53px;
}

.right-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
